@mixin display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridTableMenus__container{
    padding:10px 0px;
    // align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .gridTableMenus__logo,.gridTableMenus__setting{
     @include display-flex();

    }
}