.greatTableBilling__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .greatTableBilling__header{
       
        display: flex;
        align-items: center;
        justify-content: space-between;
        .greatTableBilling__headerText{
            height: 40px;
            font-size: large;
            font-weight: bold;
        }
        .greatTableBilling__switch{
            background-color: transparent;
        }
    }
    .greatTableBilling__listOfItems{
        
        flex:1;
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        overflow: scroll;
        ::-webkit-scrollbar{
            display: none;
        }
    }
    .greatTableBilling_totalPrice{
        flex:0.2;
    }
}