.greatTableBodyContents__container{
    padding: 20px;
    .greatTableBodyContents__beverages{
        .greatTableBodyContents__tableNumber{
            font-size: 30;
            padding: 10px 0px;
            .greatTableBodyContents__tableNumberData{
                font-weight: bold;
            }
        }
    }
   
}